

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('src/img/bg_poke.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: sans-serif;


}

#search-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#search-poke {
    min-width: 200px;
    height: 45px;
    width: 40%;
    border: none;
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
    font-size: 1.2em;
    color: #00030a;
}

#search-poke::placeholder {
    opacity: 0.5;
}

#search-btn {
    cursor: pointer;
    border: none;
    border-radius: 0 50px 50px 0;
    padding: 0 20px;
    background: linear-gradient(90deg, rgba(0,165,255,1) 0%, rgba(132,80,226,1) 100%);

}

#icon-search {
    height: 24px;
    width: 24px;
    filter: invert(1);
    opacity: 0.85;
    transition: 0.6s;

}

#search-btn:hover #icon-search {
    opacity: 0.5;
}

#error-msg {
    color: rgb(255, 73, 88);
    font-size: 1em;
    visibility: hidden;
}

.main-container {
    position: relative;
    height: 400px;
    width: 40vw;
    background: rgba(162, 171, 180, 0.151);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.034);
    margin-top: 76px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#type1 {
    position: absolute;
    top: 0;
    left: 8px;
    padding: 10px;
    height: 40px;
    width: 40px;
    margin-top: 8px;
    border-radius: 50%;
    font-weight: bolder;
    text-transform: capitalize;
    opacity: 0.7;
}
#image {
    min-width: 150px;
    min-height: 150px;
    height: 250px;
    width: 250px;
}



#header {
    height: 100%;
    width: 100%;
}

#number {
    font-size: 1.8em;
}

#name {
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: 800;
}



#button {
    margin-top: 20px;
    border: none;
    padding: 15px 100px;
    background: linear-gradient(90deg, rgba(0,165,255,1) 0%, rgba(132,80,226,1) 100%);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.6s;
    border-radius: 200px;
}

#button:hover {
    background-color: rgb(73, 130, 235);
    color: #ffffff98;
    transform: scale(1.05);


}

#copyright {
    position: absolute;
    bottom: 0;
}
